@model HMS.Models.LabResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LabResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Test)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Test.TestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
